<p id="notice"><%= notice %></p>

<h2>Institution: <%= @institution.name %></h2>

<h3> Institution summary</h3>

<table class = "table-bordered info-table">
  <tbody>
    <tr>
      <th>Classification</th>
      <td><%= @institution.inst_class %></td>
    </tr>
    <tr>
      <th>Province</th>
      <td><%= @institution.address_province %></td>
    </tr>
    <tr>
      <th>Municipality</th>
      <td><%= @institution.address_municipality %></td>
    </tr>
    <tr>
      <th>Street address</th>
      <td><%= @institution.address_street_no %></td>
    </tr>
    <tr>
      <th>Congressional district number</th>
      <td><%= @institution.cong_distr_num%></td>
    </tr>
  </tbody>
</table>

<div class="btn-group">
  <%= link_to [@institution, :inst_contacts], class: 'btn btn-primary btn-xs' do %>
    <i class="glyphicon glyphicon-user"></i> Contacts
  <% end %>
  <%= link_to [@institution, :data_records], class: 'btn btn-primary btn-xs' do %>
    <i class="glyphicon glyphicon-list-alt"></i> Data Records
  <% end %>
  <%= link_to [@institution, :tuitions], class: 'btn btn-primary btn-xs' do %>
    <i class="glyphicon glyphicon-education"></i> Tuitions
  <% end %>
  <%= link_to [@institution, :faculty_headcounts], class: 'btn btn-primary btn-xs' do %>
    <i class="glyphicon glyphicon-apple"></i> Faculty Headcounts
  <% end %>  
</div>

</br>
</br>

<% if admin_signed_in? %>
<%= link_to 'Edit Institution', edit_institution_path(@institution) %> |
<% end %>

<%= link_to institutions_path, class: 'btn btn-primary btn-xs' do %>
    <i class="glyphicon glyphicon-arrow-left"></i> Back
<% end %>