<p id="notice"><%= notice %></p>

<p>
  <strong>Institution:</strong>
  <%= @inst_contact.institution %>
</p>

<p>
  <strong>Contact num:</strong>
  <%= @inst_contact.contact_num %>
</p>

<%= link_to institution_inst_contacts_path, class: "btn btn-primary btn-xs" do %>
  <i class="glyphicon glyphicon-arrow-left"></i> Back
<% end %>
<% if admin_signed_in? %>
  |
  <%= link_to edit_institution_inst_contact_path(@institution, @inst_contact), class: "btn btn-info btn-xs" do %>
    <i class="glyphicon glyphicon-pencil"></i> Edit
  <% end %>
<% end %>