<p id="notice"><%= notice %></p>

<p>
  <strong>Institution:</strong>
  <%= @data_record.institution.name %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @data_record.release_date %>
</p>

<p>
  <strong>Acadyr termno:</strong>
  <%= @data_record.acadyr_termno %>
</p>

<p>
  <strong>Stud count:</strong>
  <%= @data_record.stud_count %>
</p>

<p>
  <strong>Enrolled:</strong>
  <%= @data_record.enrolled %>
</p>

<p>
  <strong>Graduated:</strong>
  <%= @data_record.graduated %>
</p>

<p>
  <strong>Cost per stud:</strong>
  <%= @data_record.cost_per_stud %>
</p>

<%= link_to institution_data_records_path, class: 'btn btn-primary btn-xs' do %>
  <i class="glyphicon glyphicon-arrow-left"></i> Back
<% end %>
<% if admin_signed_in? %>
  |
  <%= link_to edit_institution_data_record_path(@institution, @data_record), class: 'btn btn-info btn-xs' do %>
    <i class="glyphicon glyphicon-pencil"></i> Edit
  <% end %>
<% end %>