<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @section.name %>
</p>

<p>
  <strong>Head count:</strong>
  <%= @section.head_count %>
</p>

<p>
  <strong>Year:</strong>
  <%= @section.year %>
</p>

<p>
  <strong>Grade level:</strong>
  <%= @section.grade_level %>
</p>

<p>
  <strong>Institution:</strong>
  <%= @section.institution.name %>
</p>

<%= link_to sections_path, class: 'btn btn-primary btn-xs' do %>
  <i class="glyphicon glyphicon-arrow-left"></i> Back
<% end %>
 |
<%= link_to edit_section_path(@section), class: 'btn btn-info btn-xs' do %>
  <i class="glyphicon glyphicon-pencil"></i> Edit
<% end %>