<p id="notice"><%= notice %></p>

<p>
  <strong>T fname:</strong>
  <%= @teacher.t_fname %>
</p>

<p>
  <strong>T mname:</strong>
  <%= @teacher.t_mname %>
</p>

<p>
  <strong>T lname:</strong>
  <%= @teacher.t_lname %>
</p>

<%= link_to teachers_path, class: "btn btn-primary btn-xs" do %>
  <i class="glyphicon glyphicon-arrow-left"></i> Back
<% end %>
 |
<%= link_to edit_teacher_path(@teacher), class: "btn btn-info btn-xs" do %>
  <i class="glyphicon glyphicon-pencil"></i> Edit
<% end %>