<h2><center>Principal Log In</center></h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row">
    <div class="col-sm-4">
    </div>
    <div class="field form-group">
      <div class="col-sm-4">
        <%= f.label :email, class: "control-label" %>
        <%= f.email_field :email, class: "form-control", :id=>"principal_email", autofocus: true %>
      </div>
    </div>
    <div class="col-sm-4">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
    </div>  
    <div class="field form-group">
      <div class="col-sm-4">
        <%= f.label :password, class: "control-label" %>
        <%= f.password_field :password, class: "form-control", :id=>"principal_password", autocomplete: "off" %>
      </div>  
    </div>
    <div class="col-sm-4">
    </div>
  </div>
  <% if devise_mapping.rememberable? -%>
  <div class="row">
    <div class="col-sm-4">
    </div>
    <div class="field form-group">
      <div class="col-sm-4">
      <%= f.check_box :remember_me, :id=>"principal_remember_me" %> Remember Me 
      </div>
    </div>
    <div class="col-sm-4">
    </div>
  </div>
  <% end -%>
  <div class="row">
    <div class="col-sm-4">
    </div>
    <div class="actions form-group">
      <div class="col-sm-4">
        <%= f.button :submit, class: "btn btn-primary btn-md", :id=> "principal_login_button" do%>
          <i class="glyphicon glyphicon-log-in"></i> Log In as Principal
        <% end %>
      </div>
    </div>
    <div class="col-sm-4">
    </div>
  </div>
<% end %>

<br />

<div class="row">
  <div class="col-sm-4">
  </div>
  <div class="actions form-group">
    <div class="col-sm-4">
      <%= render "principals/shared/links" %>
    </div>
  </div>
  <div class="col-sm-4">
  </div>
</div>