<p id="notice"><%= notice %></p>

<p>
  <strong>Institution:</strong>
  <%= @tuition.institution.name %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @tuition.release_date %>
</p>

<p>
  <strong>Acadyr termno:</strong>
  <%= @tuition.acadyr_termno %>
</p>

<p>
  <strong>Bacc:</strong>
  <%= @tuition.bacc %>
</p>

<p>
  <strong>Ms ma:</strong>
  <%= @tuition.ms_ma %>
</p>

<p>
  <strong>Phd:</strong>
  <%= @tuition.phd %>
</p>

<%= link_to institution_tuitions_path, class: "btn btn-primary btn-xs" do %>
  <i class="glyphicon glyphicon-arrow-left"></i> Back
<% end %>
<% if admin_signed_in? %>
  |
  <%= link_to edit_institution_tuition_path(@institution, @tuition), class: "btn btn-info btn-xs" do %>
    <i class="glyphicon glyphicon-pencil"></i> Edit
  <% end %>
<% end %>