<!DOCTYPE html>
<html>
  <head>
    <title>Hedex</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class = "navbar navbar-inverse">
      <div class = "container">
        <nav>
          <ul class = "nav navbar-nav navbar-left">
            <li>
            <%= link_to institutions_path do %>
              <i class="glyphicon glyphicon-book"></i> Institutions Index
            <% end %>
            </li>
            <li>
            <%= link_to tesda_course_sectors_path do %>
              <i class="glyphicon glyphicon-screenshot"></i> TESDA Tracker
            <% end %>
            </li>
            <li>
            <%= link_to regions_path do %>
              <i class="glyphicon glyphicon-list-alt"></i> Region Records
            <% end %>
            </li>
            <% if principal_signed_in? %>
            <li>
            <%= link_to('Section Set', sections_path) %>
            </li>
            <li>
            <%= link_to('Teacher Tracklist', teachers_path) %>
            </li>
            <% end %>
          </ul>
          
          <ul class = "nav navbar-nav navbar-right">
            <% if admin_signed_in? %>
              <li>
                <p class = "navbar-text admin-logged-in"> Logged in as admin </p>
              </li>
              <li>
                <%= link_to('Logout (Admin)', destroy_admin_session_path, method: :delete) %>
              </li>
            <% end %>
            <% if principal_signed_in? %>
              <li>
                <p class = "navbar-text prin-logged-in"> Logged in as principal </p>
              </li>
              <li>
              <%= link_to('Logout', destroy_principal_session_path, method: :delete) %>        
              </li>
            <% else %>
              <li>
              <%= link_to new_principal_session_path do %>
                <i class="glyphicon glyphicon-log-in"></i> Login as Principal
              <% end %>
              </li>
              <li>
              <%= link_to new_admin_session_path do %>
                <i class="glyphicon glyphicon-log-in"></i> Login as Admin
              <% end %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
